<% provide(:title, "Help")%>
<h1>Help</h1>
<p>
    Get help on the SBS-ADC ColLabs at the 
    <a href="#">SBS Information System</a>.
    To get an autorized on this app, please contact ADC or SBS.
</p>