<% provide(:title, "Home")%>
<div class="center jumbotron text-center bg-white shadow">
    <h1>Welcome to the SACLA.</h1>
    <h4>
        This is the home page for the <a href="#">SBS-ADC</a> Collaboration Laboratory Application. 
    </h4> <br/>
    <%= link_to "Log in ", new_user_session_path, class: "btn btn-lg btn-primary"%>
</div>

