<footer class="footer">
    <small>
        Powered by <a href="http://www.sbs-infosys.co.jp/"><%= image_tag("sbs_logo.png", alt: "sbs logo", size: "60x15", id:"sbs_logo")%></a>
    </small>
    <nav>
        <ul>
            <li><%= link_to "Contact", "#" %></li>
            <li><%= link_to "News", "#" %></li>
        </ul>
    </nav>
</footer>